@font-face {
  font-family: 'iconfont';

  src: url('./../font/iconfont.eot');
  src: url('./../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('./../font/iconfont.woff') format('woff'),
  url('./../font/iconfont.ttf') format('truetype'),
  url('./../font/iconfont.svg#iconfont') format('svg');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up:before {
  content: '\e647';
}

.icon-OvalCopy:before {
  content: '\e648';
}

.icon-category:before {
  content: '\e649';
}

.icon-help:before {
  content: '\e64a';
}

.icon-search:before {
  content: '\e64b';
}

.icon-close:before {
  content: '\e64c';
}
